/*CONTAINER*/
.container{
    width: 1067px;
    margin: 0 auto;
}
/*CLEARFIX*/
.clearfix:after{
    content: '';
    display: table;
    clear: both;
}
/*BODY*/
.body{
    background-size: cover;
    background-image: url("../img/background@1X.png");
    background-repeat: no-repeat;
}
/*HTADER*/
.header{
    padding-top: 49px;
    margin-bottom: 48px;

}

/*LOGO*/
.header-logo{
    float: left ;
}

.header-logo:hover .logo-img{
     background-image: url("../img/logo-hover-img.png");
     background-repeat: no-repeat;
 }

.header-logo:hover .header-logo-text {
    color: #f26522;
}

.logo-img{
    background-image: url("../img/header-logo.png");
    float: left;
    height: 44px;
    width: 46px;
    transition: .4s;

}

.header-logo-text {
    float: left;
    height: 40px;
    color: white;
    text-transform: uppercase;
    margin-left: 10px;
    font-family: ﻿AdobeInvisFont, ﻿Verdana-Bold, ﻿Courier,sans-serif;
    transition: .4s;

}

.header-logo-text-big {
    display: block;
    font-size: 29px;
    font-weight: bold;
}


.header-logo-text-small {
    display: block;
    font-size: 18px;
}

.header-contacts{
    float: right;
    font-size: 18px;
    text-align: right;
}

.header-contacts-phone, .header-contacts-mail {
    color: #ffffff;
    text-decoration: none;
}

.header-contacts-mail{
    display: block;
}

.header-contacts-phone{
    display: block;
}
/*MAIN MENU*/

.main-menu-photo{
    position: relative;
    overflow: hidden;
}
.main-menu-img{
    vertical-align: middle;
    border: solid 2px #ffffff;
}

.main-menu-item:nth-child(2) .block {
    width: 307.5px;
}

.block{
    position: absolute;
    height: 63px;
    width: 307px;
    left: 2px;
    color: white;
    background: #f26522;
    transition: .3s;
    bottom: -63px;
}


.main-menu-photo:hover .block {
    bottom: 2px;
}

.main-menu-item{
    display: inline-block;
    text-decoration: none;
    color: white;
    float: left;
    margin-right: 66px;
    margin-bottom: 55px;
    text-align: center;
    transition: .3s;
}

.main-menu-item:nth-child(3n){
    margin-right: 0;
}

.main-menu-item:hover{
    color: #f26522;
}

.main-menu-link{
    margin-top: 20px;
    font-size: 18px;
}

.price-wrap{
    display: inline-block;
    float: left;
    width: 50px;
    margin-left: 20px;
}

.price-text{
    /*float: left;*/
    /*display: inline-block;*/
    font-size: 10px;
    /*width: 24px;*/
    height: 8px;
    /*margin-left: 21px;*/
    margin-top: 16px;
    text-align: left;
}

.price{
    font-size: 20px;
    text-align: left;
}

.details{
    display: block;
    float: right;
    font-size: 14px;
    margin-top: 35px;
}
.details::after{
    content: "\203A";
    width: 7px;
    height: 10px;
    margin-right: 17px;
    margin-bottom: 17px;
    margin-left: 15px;

}
/*FOOTER*/
.footer{
    margin-top: 60px;
    margin-bottom: 20px;
}
.footer-info{
    text-align: center;
    font-size: 12px;
    color: white;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana,sans-serif;
}